body{
    background-color: rgb(225,225,225);
}

a{
    text-decoration: none !important;
    color: #333 ;
}

/*---cor de fontes---*/
.color-white{
    color: #fff;
}

.color-white:hover{
    color: #fff !important;
}

.navbar-brand{
    font-size: 23px !important;
}
/*-----------------*/

header#header{
    background-color: #333;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 80px;
    margin-bottom: 20px;
}

header#header p{
    margin-top: 14px;
}

header#header h2{
    margin-top: 8px;
}

/*-----------------*/

section.principal .col-md-3 .list-group{
    margin-bottom: 20px;
}

section.principal .col-md-3 .list-group a:hover{
    color:#333;
}

section.principal .card{
    width: 100% !important;
}

section.principal .card{
    margin-bottom: 20px;
}

section.principal textarea{
    height: 140px;
    resize: vertical;
}
